<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="/homeworks">Homeworks</a>
    <a class="nav-item nav-link" href="/exams">Exams</a>
    <a class="nav-item nav-link active" href="/classes">Classes</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
</nav>
<br>
<br>
<div class='row justify-content-center'>
    <div class="col-sm-6">
        <h4>Classes</h4>
        <br>
        <ul class="list-group">
            {{#each classes}}
                <li class="list-group-item">{{this.name}}</li>
            {{/each}}
        </ul>
        <br>
        <a href="/classes/add" class="btn btn-info" role="button">Add Class</a>
    </div>
</div>