<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="/homeworks">Homeworks</a>
    <a class="nav-item nav-link" href="/exams">Exams</a>
    <a class="nav-item nav-link active" href="/classes">Classes</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
</nav>
<br>
<br>
<div class='row justify-content-center'>
    <div class='col-sm-6'>
        <h4>Add Class</h4>
        <br>
        <form class="form-horizontal" method='POST' action='/classes/add'>
            <div class="form-group">
                <label class="control-label" for="class">Class:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="class" name="class">
                </div>
            </div>
            <p class='text-danger'>{{formMess}}</p>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>