<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="/homeworks">Homeworks</a>
    <a class="nav-item nav-link active" href="/exams">Exams</a>
    <a class="nav-item nav-link" href="/classes">Classes</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
</nav>
<br>
<br>
<div class='row justify-content-center'>
    <div class='col-sm-6'>
        <h4>Add Exam</h4>
        <br>
        <form class="form-horizontal" method='POST' action='/exams/add'>
            <div class="form-group">
                <label class="control-label" for="class">Class:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="class" name="class">
                        {{#each classes}}
                            <option>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="homework">Exam:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="exam" name="exam">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="date">Date:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="date" name="date" placeholder="mm/dd/yyyy">
                </div>
            </div>
            <p class='text-danger'>{{formMess}}</p>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>