<div class="nav">
    <a href='/classes'>Classes</a>
    <a href='/homeworks'>Homeworks</a>
    <a href='/exams'>Exams</a>
    <a href='/signout'>Signout</a>
</div>

<div class='main'>
    <h2>Homeworks</h2>
</div>