<!DOCTYPE html>
<head>
<title>Homework Reminder</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<div style="text-align: center;">
    <h1>Homework Reminder</h1>
    <h2>A todo list of all your homeworks.</h2>
</div>
</head>
<body>
    <br>
    <hr>
	{{{ body }}}
</body>
</html>