<!DOCTYPE html>
<head>
<title>Homework Reminder</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<div style="text-align: center;">
    <h1>Homework Reminder <small>A todo list of all your homeworks</small></h1>
</div>
</head>
<body>
    <hr>
	{{{ body }}}
</body>
</html>