<div class='main'>
    <h2>Login</h2>
    <form method='POST' action='/login'>
        <label for="user">Username:</label>
        <input type="text" id="user" name="user"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <h2>Signup</h2>
    <form method='POST' action='/signup'>
        <label for="user">Username:</label>
        <input type="text" id="user" name="user"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <label for="passwordcheck">Re-Enter Password:</label>
        <input type="password" id="passwordcheck" name="passwordcheck"><br><br>
        <input type="submit" value="Signup">
    </form>
</div>